.hidden {
	display: none;
}

.show {
	display: block;
}

.element-opacity {
	background: rgba(00, 00, 00, 0.4);
}

#controls-container {
	position: fixed;
	left: 45%;
	bottom: 10%;
}

#togle-recording-button, #download-button {
	display: inline-block;
	background-color: red;
	color: white;
}

body {
	background-color: black;
	color: white;
}